<h1><%= @restaurant.name %></h1>
<p>Adresse: <%= @restaurant.address %></p>
<p>Téléphone: <%= @restaurant.phone_number %></p>
<p>Catégorie: <%= @restaurant.category %></p>

<p>Moyenne des avis: <%= @restaurant.average_rating %> / 5.0</p>

<%= link_to 'Ajouter un avis', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Retour à la liste des restaurants', restaurants_path %>


<div class="avg">
<div class="firstavg">
  <% @restaurant.average_rating.times do %>
 <i class="fa-solid fa-star"></i>
   <% end %>
</div>
<div class="lastavg">
 <% (5 - @restaurant.average_rating).times do %>
 <i class="fa-solid fa-star"></i>
   <% end %>
</div>
</div>



<h2>Avis</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><%= review.content %></p>
      <p>Note: <%= review.rating %></p>
    </li>
  <% end %>
</ul>

<h1>Ajouter un avis pour <%= @restaurant.name %></h1>
<%= simple_form_for [@restaurant, @review] do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :content, as: :text, label: "Contenu de l'avis" %>
  </div>

  <div class="field">
    <label>Note (1 à 5)</label>
    <div class="rating">
      <% (1..5).each do |rating| %>
        <%= form.radio_button :rating, rating, id: "rating_#{rating}", class: "rating-input" %>
        <label for="rating_#{rating}" class="rating-star">
          <i class="fa-solid fa-star"></i>
        </label>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.button :submit, "Ajouter l'avis" %>
  </div>
<% end %>

<%= link_to 'Retour aux détails du restaurant', restaurant_path(@restaurant) %>
